<!--Sumin Gharti Chhetri - 301313664 - 2023 oct 11 -->
<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>
<body>
    <%- include('partials/nav.ejs') %>
    <main>
        <section class="container active" id="portfolio">
            <div class="main-title">
                <h2>Projects <span>Summary</span></h2>
                <p><br><br>Some of the projects i did as a student at Centennial college.</p>
               
            </div>
           
            <div class="portfolios">
               
                <div class="portfolio-item">
                    <div class="image">
                        <img src="/public/img/Wordcloud.png" alt="">
                    </div>
                    <div class="hover-items">
                      
                        <p>It generates wordcloud from website.I worked at it during my 2<sup>nd</sup> semester. I was able to 
                        learn about javascript functions and build interactive pages. </p>
                        
                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="image">
                        <img src="/public/img/slideshow.png" alt="">
                    </div>
                    <div class="hover-items">
                    It is an interactive slideshow about the country Nepal. I created it for my second semester assignment. I scored an a+ on this assignment. </P>
                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="image">
                        <img src="/public/img/bugbusher.png" alt="">
                    </div>
                    <div class="hover-items">
                        <p>An webapp that is a bug based game which requires user to smash bug to score. This is the first game I built.</p>
                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="image">
                        <img src="/public/img/portfolio.png" alt="">
                    </div>
                    <div class="hover-items">
                      <p>It is a demo website for a realtor. My individual final project for 1<super>st</super> semester</p>
                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="image">
                        <img src="/public/img/json.png" alt="">
                    </div>
                    <div class="hover-items">
                       <p>This website converts CVS to JSON format.</p>
                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="image">
                        <img src="/public/img/tablecalculator.png" alt="">
                    </div>
                    <div class="hover-items">
                       <p>This website genrates multiplication table of any two nummbers.</p>
                    </div>
                </div>
            </div>
        </section>  
       
    </main>
  
    <%- include('partials/footer.ejs') %>
</body>

</html>