<!--Sumin Gharti Chhetri - 301313664 - 2023 oct 11 -->
<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

<body class="main-content">
    <%- include('partials/nav.ejs') %>
    <section class="container-active">
        <div class="main-title">
            <h2>Services <span>Provided</span></h2>
        </div>
        <div class="service">
            <div class="box">
                <i class="fas fa-code servicesIcon"></i> <br>
                <h3>Website Development</h3>
                <p>We create stunning, user-friendly websites that reflect your unique personality and goals.
                    Our designs are not just visually appealing but also optimized for performance and responsiveness
                    across all devices.</p>
            </div>

            <div class="box">
                <i class='fas fa-cogs servicesIcon'></i> <br>
                <h3>Custom Back End Development</h3>
                <p>Our back-end developers excel in crafting tailor-made, scalable, and high-performance back-end
                    solutions that perfectly align with your specific business requirements. </p>
            </div>
        </div>

        <div class="service">
            <div class="box">
                <i class='fas fa-sync'></i> <br>
                <h3>API Integration and Development:</h3>
                <p>Our back-end developers excel in creating and integrating APIs, enabling seamless data exchange and
                    interaction between your applications and external services.</p>
            </div>

            <div class="box">
                <i class='fas fa-database'></i> <br>
                <h3>Database Design and Optimization:</h3>
                <p>A robust database is the backbone of any application. Our experts design and optimize databases to
                    ensure efficient data storage, retrieval, and management.</p>
            </div>
        </div>
    </section>
    <%- include('partials/footer.ejs') %>
</body>

</html>
